body{
    text-align: center;
    background-color:#2c75fd;
    color: white;
    margin: auto;
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
}   

h1{
    font-size: 2rem;
}
h2{
    font-size: 1.2rem;
}
h3{
    font-size: 1.5rem;
    font-weight: 500;
    color: rgba(61, 61, 61, 0.781);
}
p{
    font-size: 1.2rem;
    font-weight: 500;
    color: rgba(61, 61, 61, 0.781);
}
.login{
    width: 25%;
    min-width: 300px;
    height: 330px;
    text-align: center;
    margin: auto;
    border: 1px solid white;
    background-color: white;
    border-radius: 15px;
    margin-top: 20px;
    padding-top: 20px;;

}
.formLogin{
    width: 90%;
    height: 35px;
    outline: none;
    border: 1px solid rgba(128, 128, 128, 0.418);
}

::placeholder{
    font-size: 1.2rem;
    font-weight: 100;
    padding: 10px;
    color: rgba(128, 128, 128, 0.855);
 
}
.btn{
    border: none;
    padding: 20px;
    background-color: #2c75fd;
    color: white;
    font-weight: bolder;
    border-radius: 5px;
    padding-left: 35%;
    padding-right: 35%;
}
a{
    text-decoration: none;
    color: #0e5beb;
}
.link{
    text-align: end;
}
.esq, .dir{
    padding-top: 30px;
    margin-top: 1%;
    color: rgba(61, 61, 61, 0.781);
    border-radius: 15px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.258);
    
}
.esq{
    height: 450px;
    width: 40%;
    margin-left: 3%;
    background-color: white;
}
.dir{
    float: right;
    margin-top: -478px;
    margin-right: 3%;
    height: 450px;
    width: 40%;
    background-color: white;

}
.btn1{
    border: none;
    padding: 20px;
    background-color: #2c75fd;
    color: white;
    font-weight: bolder;
    border-radius: 5px;
}
.enviar{
    background-color: rgb(29, 184, 8);
}
.sair{
    background-color: red;
}
.linhaCentral{
    border-left: 1px solid;
    position: fixed;
    left: 50%;
    height: 100%;
}
.img1{
    width: 30%;
}
.img2{
    width: 50%;
}

@media screen and (max-width: 500px) {
           
    .esq, .dir{
        margin: auto;
        margin-top: 10px;
        padding: 0px;
        padding-top: 0.1px;
        color: rgba(61, 61, 61, 0.781);
        border-radius: 15px;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.258);
        width: 95%;
        height: 380px;
        background-color: white;
        float: none;   
    }
    .linhaCentral{
        border: none;
    }
    

}

.container{
    margin: auto;
    background-color: white;
    width: 400px;
    color: rgba(61, 61, 61, 0.781);
    border-radius: 15px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.258);
    position: relative;
    text-align: justify;
    padding: 10px;
}
.botoes{
    text-align: center;
}
.divForm{
    
    position: relative;
    bottom: 100px;
    padding-left: 40px;
}
.um{        
    position: relative;     /* imagem da vaca na page cadastro de leite */
    top: -80px;
}
.dois{
    position: relative;
    left: 15px;             /* imagem dos animais na page cadastro de animais doentes */
    top: -60px;
}
.id{
    margin-left: 170px ;
}
.lts{
    margin-left: 126px ;
}
.nome{
    margin-left: 95px ;
}
.data{
    margin-left: 75px ;
}
.hora{
    margin-left: 160px ;
}
.diasTratamento{
    margin-left: 45px;
}
.tratamento{
    border: none;
    border-bottom: 1px solid;
    width: 220px;
}

.form::placeholder{
    font-size: 1rem;
}
.imgForm{
    width: 150px;
    position: relative;
    bottom: 50px;
}
.container h1{
    text-align: justify;
    margin: 20px;
    position: relative;
    top: 30px;
    color: rgba(14, 80, 14, 0.87);
}
.container h2{
    text-align: end;
}

select{
    padding: 5px;
}